:root {
  --primaryColor:hsl(199,100%,33%);
  --SecondaryColor:hsl(187,85%,43%);
  --gradienColor:linear-gradient(to right,hsl(187,85%,43%),hsl(199,100%,33%));
  --whiteColor:hsl(0, 0%, 100%);
  --blackColor:hsl(201,33%,16%);
  --textColor:hsl(240, 4%, 36%);
  --whiteColorDeam:hsl(0, 0%, 93%);
  --greyText:rgb(190, 190, 190);
  --inputColor:rgb(239, 239, 239);
  --bodyColor:rgb(240, 240, 240);
  --cardBG:rgb(225,225,235);
  --cardHover:rgb(255,255,255);
}

.main {
  width: 100%;
}
.main .secTitle .title {
  position: relative;
  color: var(--textColor);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 1rem 0;
  z-index: 2;
}
.main .secTitle .title::after {
  position: absolute;
  content: "";
  background-color: var(--SecondaryColor);
  height: 5px;
  width: 120px;
  right: 0;
  bottom: 5px;
  z-index: -1;
}
.main .sectionContent {
  justify-content: center;
  gap: 1.5rem;
}
.main .sectionContent .singleDestination {
  height: 100%;
  display: grid;
  row-gap: 10px;
  border-radius: 10px;
  align-items: center;
  background: var(--cardBG);
  box-shadow: 0 2px 4px rgba(140, 140, 141, 0.549);
  overflow: hidden;
}
.main .sectionContent .singleDestination:hover {
  background: var(--cardHover);
  box-shadow: 1 4px 4px rgba(85, 85, 114, 0.549);
  transition: 0.3s ease;
}
.main .sectionContent .singleDestination .imageDiv {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.main .sectionContent .singleDestination .imageDiv img {
  height: 400px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 2s ease;
}
.main .sectionContent .singleDestination .imageDiv:hover img {
  transform: scale(1.1);
}
.main .sectionContent .singleDestination .cardInfo {
  padding: 1rem;
}
.main .sectionContent .singleDestination .cardInfo .destTitle {
  color: var(--blackColor);
  font-size: 1.25rem;
}
.main .sectionContent .singleDestination .cardInfo .continent {
  gap: 0.5rem;
}
.main .sectionContent .singleDestination .cardInfo .continent .icon {
  color: var(--textColor);
  font-size: 18px;
}
.main .sectionContent .singleDestination .cardInfo .continent .name {
  color: var(--textColor);
  font-size: 14px;
  font-weight: 400;
}
.main .sectionContent .singleDestination .cardInfo .fees {
  width: 100%;
  padding: 1rem;
  margin: 1rem 0;
  justify-content: space-between;
  border-top: 1.5px solid var(--greyText);
  border-bottom: 1.5px solid var(--greyText);
}
.main .sectionContent .singleDestination .cardInfo .fees .grade {
  color: var(--textColor);
  max-width: 100px;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main .sectionContent .singleDestination .cardInfo .fees .grade small {
  text-align: center;
  border-radius: 1rem;
  background: var(--gradienColor);
  padding: 1px 10px;
  color: var(--whiteColor);
  font-size: 10px;
}
.main .sectionContent .singleDestination .cardInfo .fees .price {
  color: var(--blackColor);
  font-size: 2rem;
}
.main .sectionContent .singleDestination .cardInfo .desc {
  font-size: 13.5px;
  color: var(--textColor);
  font-weight: 500;
}
.main .sectionContent .singleDestination .cardInfo .btn {
  margin-top: 1rem;
  color: var(--whiteColor);
  justify-content: space-between;
  font-weight: 600;
  gap: 0.5rem;
}
.main .sectionContent .singleDestination .cardInfo .btn .icon {
  align-self: center;
  font-size: 18px;
}

@media screen and (min-width: 500px) {
  .title {
    font-size: 1.5rem;
  }
  .title::after {
    width: 155px !important;
  }
  .sectionContent {
    grid-template-columns: repeat(2, 1fr);
  }
  .sectionContent .singleDestination {
    height: auto;
  }
}
@media screen and (min-width: 840px) {
  .sectionContent {
    grid-template-columns: repeat(3, 1fr);
  }
  .sectionContent .singleDestination {
    height: auto;
  }
}
/*# sourceMappingURL=main.css.map */